* {
    margin: 0;
    padding: 0;
}

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "hero"
        "main"
        "main"
        "start"
        "footer";
    align-items: center;
    justify-items: center;
}

#gameboard {
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
}

#hero {
    grid-area: hero;
    padding-top: 3vh;
}

#round {
    padding: 5px 0;
}

#main {
    grid-area: main;
    display: grid;
    justify-items: center;
    gap: 4vh;
}

#start {
    grid-area: start;
}

#footer {
    grid-area: footer;
}

#players {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
    gap: 10px;
}

.player p{
    padding: 5px 0;
}

dialog {
    display: none;
    width: 300px; /* Adjust the width as needed */
    height: 200px;
    margin: auto auto; /* Horizontally center the dialog */
    text-align: center; /* Center text content */
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

#round-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}